body {
    background-color: rgb(181, 208, 255);
    text-align: center;
    font-style: normal;
    margin: 0px;
}

p {
    color:rgb(53, 69, 88)
}

.hello_kitty {
    width: 40%;
    text-align: center;
}

header {
    border-bottom: solid 2px rgb(180, 213, 255);
    padding: 20px;
    font-size: 32px;
}

h1 {
    font-size: 40px;
    padding: 2px;
    margin-top: 5px;
}