body {
    background-color: #c3e5ff;
    text-align: center;
    margin: 10px;
    font-family: "Quicksand", sans-serif;
}

p {
    font-size: 170%;
    color:rgb(53, 69, 88)
}

.hello_kitty {
    width: 20%;
    text-align: center;
}

header {
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

h1 {
    font-size:250%;
    padding: 2px;
    margin-top: 5px;
}

h3 {
    font-size: 180%;
}

h2 {
    font-size: 180%
}

li {
    font-size: 170%;
}